.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  margin-top: 15%;
}

.links a {
  text-decoration: none;
  color: black;
  font-family: "Tajawal", sans-serif;
}
